.custom-nav-link{
    font-size:0.9rem;
    color: rgba(255, 255, 255, 0.95);
    font-weight: 400;
    position: relative;
    top:-1px;
}
.custom-nav-link:hover{
    color: rgba(255, 255, 255, 0.65);
}

.custom-icon-link{
    font-size: 0.9rem !important;
}

.display-only-mobile{
    display: none !important;
}

.container-recipe-form{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f5f7f9;
    padding: 30px;
    border-radius: 10px;
}

.text-bold{
    font-weight: 900 !important;
}

.no-uppercase{
    text-transform: none !important;
}

@media (max-width: 991.98px){
    .custom-nav-link{
        left: 0.25rem;
        top: -2px;
        color: #172b4d !important;
    }

    .display-only-mobile{
        display: block !important;
    }

    .display-only-mobile:hover{
        cursor: pointer;
    }
}